/* Header Styles */
#logo {
  max-width: 400px;
  margin: 0 auto;
}

/* Results Page */
.results {
  margin: 0 auto;
}

.results .results-main {
  font-size: 190px;
  display: flex;
  justify-content: center;
}

.results .results-main .results-num {
  display: inline-block;
  font-weight: bold;
}

.results .back-button {
  margin-top: 50px;
}

/* Input image representation */
#input-image {
}

#input-image .row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#input-image .pixel {
  width: 5px;
  height: 5px;
}

/* Footer sections */
.footer-section {
  margin-bottom: 20px;
}

.footer-section > div {
  margin-bottom: 20px;
}

/* Center list of tags */
.footer-section .field.is-grouped {
  justify-content: center;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .results .results-main {
    font-size: 120px;
  }
}
